# Java / Gradle
/build/
/out/
.gradle/

# Terraform / Helm
*.tfstate
*.tfstate.backup
.terraform/
*.tar.gz
*.hcl

# Environment
.env

# IDE
.idea/
*.iml

# OS
Thumbs.db
.DS_Store

# Docker
docker-compose.override.yml

# Logs & temp
*.log
tmp/
*.swp
